.loginCard {
    box-shadow: 'hsla(220, 30%, 5%, 0.5) 0px 5px 15px 0px, hsla(220, 25%, 10%, 0.08) 0px 15px 35px -5px';
}

.typography-margin {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    /* You can also set left and right margins if needed */
  }

.enterRiotID{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
